.d-content {
    width: 100%;
    .d-content-wrap {
        width: 1090px;
        margin: 0 auto;
        .d-content-wrap-left {
            float: left;
            .img-box {
                width: 428px;
                height: 428px;
                background: #f4f4f4;
                cursor: default;
                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                }
            }
            .img-list {
                overflow: hidden;
                margin-top: 14px;
                list-style: none;
                li {
                    box-sizing: border-box;
                    float: left;
                    margin-left: 0px;
                    width: 78px;
                    height: 78px;
                    overflow: hidden;
                    margin-left: 10px;
                    vertical-align: top;
                    border: 1px solid #e8e8e8;
                    &:hover {
                        border: 1px solid #b4a078;
                    }
                }
                .img-l-f {
                    margin-left: 0px!important;
                }
            }
            .yh {
                box-sizing: border-box;
                a {
                    margin-top: 14px;
                    display: inline-block;
                    width: auto;
                    padding: 0 10px;
                    font-size: 14px;
                    text-decoration: none;
                    color: #b4a078;
                    border: 1px solid #b4a078;
                    background: #f5f3ef;
                    border-radius: 2px;
                    height: 28px;
                    line-height: 26px;
                    text-align: center;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
        .d-content-wrap-right {
            float: right;
            .d-r-top {
                width: 620px;
                margin-bottom: 20px;
                overflow: hidden;
                .d-top-left {
                    float: left;
                    .name {
                        color: #333;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 20px;
                        margin-bottom: 7px;
                        position: relative;
                        display: block;
                    }
                    .jianjie {
                        display: block;
                        font-size: 14px;
                        line-height: 20px;
                        color: #999;
                    }
                }
                .d-top-right {
                    overflow: hidden;
                    float: right;
                    .good {
                        color: #e36844;
                        font-size: 20px;
                        font-weight: 700;
                        text-align: right;
                        display: block;
                    }
                    .good-name {
                        float: right;
                        a {
                            text-align: right;
                            color: #333;
                            font-size: 13px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .d-r-mid {
                width: 620px;
                background: #f5f3ef;
                border-top: 1px dotted #dedede;
                border-bottom: 1px dotted #dedede;
                padding: 0 0 13px;
                line-height: 24px;
                font-size: 13px;
                position: relative;
                box-sizing: border-box;
                .d-mid-title {
                    width: 55px;
                    font-size: 13px;
                    float: left;
                    color: #666;
                    margin-left: 10px;
                }
                .price-box {
                    line-height: 50px;
                    height: 50px;
                    .fh {
                        margin-left: 0;
                        line-height: 30px;
                        color: #d7282d;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .price {
                        margin-left: 2px;
                        line-height: 30px;
                        color: #d7282d;
                        font-size: 28px;
                        font-weight: 700;
                    }
                }
                .tj {
                    padding: 10px;
                    height: 56px;
                    width: 488px;
                    font-size: 13px;
                    line-height: 20px;
                    margin-top: 2px;
                    margin-bottom: 3px;
                    margin-left: 66px;
                    background-color: #f7efde;
                    //background-image: linear-gradient(-135edg, #e7efde 0, rgba(246, 237, 217.6)100%);
                    border-radius: 2px;
                    cursor: pointer;
                    .tj-top {
                        color: #151515;
                        .tj-img {
                            background: url(../img/tips.png) -4px -7376px no-repeat;
                            //background: 100% 100%;
                            margin-right: 5px;
                            vertical-align: -2px;
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                        }
                        .sq {
                            font-size: 16px;
                        }
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            color: #151515;
                        }
                    }
                    .tj-bot {
                        //margin-top: 6px;
                        color: #b4a078;
                    }
                }
                .gwf-box {
                    color: #333;
                    .gwf {
                        color: #C43C3B!important;
                        margin-right: 4px;
                        margin-left: 2px;
                        i {
                            display: inline-block;
                            background: url(../img/wh.png) no-repeat;
                            background-size: contain;
                            width: 14px;
                            height: 14px;
                            margin-left: 5px;
                        }
                    }
                }
                .lj {
                    position: relative;
                    .quan {
                        box-sizing: border-box;
                        font-size: 12px;
                        color: #DE2b33;
                        height: 20px;
                        line-height: 18px;
                        margin: 5px 3px 5px 0;
                        position: relative;
                        background: #fff;
                        cursor: pointer;
                        padding: 0 4px 0 8px;
                        display: inline-block;
                        border-radius: 2px;
                        border: 1px solid #de2b33;
                        border-right: none;
                    }
                    .l-s {
                        display: inline-block;
                        margin-left: 10px;
                        background: url(../img/lq.png) no-repeat 0 -135px;
                        display: inline-block;
                        height: 20px;
                        width: 6px;
                        position: absolute;
                        top: 5px;
                        left: 140px;
                    }
                    .lq {
                        box-sizing: border-box;
                        font-size: 12px;
                        color: #DE2b33;
                        height: 20px;
                        line-height: 18px;
                        margin: 5px 4px 5px 0;
                        position: relative;
                        background: #fff;
                        cursor: pointer;
                        padding: 0 4px 0 8px;
                        display: inline-block;
                        border-radius: 2px;
                        border: 1px solid #de2b33;
                        border-left: none;
                    }
                }
                .cx {
                    padding-bottom: 10px;
                    border-bottom: 1px dashed #d2d2d2;
                    .mje-t {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        color: #fff;
                        padding: 0 5px;
                        font-size: 12px;
                        background-color: #e36844;
                        margin-right: 8px;
                    }
                    .mje {
                        color: #333;
                    }
                }
                .fw {
                    margin-top: 10px;
                    a {
                        color: #666;
                        text-decoration: none;
                        margin-right: 20px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .fw-l {
                        margin-left: 65px;
                    }
                }
            }
            .d-r-bot {
                margin-top: 30px;
                .d-bot-color {
                    span {
                        width: 55px;
                        font-size: 13px;
                        float: left;
                        color: #666;
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #ddd;
                        cursor: pointer;
                        margin: 0 10px 15px 0;
                    }
                }
                .d-bot-num {
                    span {
                        width: 55px;
                        font-size: 13px;
                        float: left;
                        color: #666;
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                    .set-num {
                        display: inline-block;
                        width: 100%;
                        .les {
                            position: absolute;
                            float: left;
                            width: 36px;
                            height: 30px;
                            line-height: 28px;
                            background: #fff;
                        }
                        .set-num-inp {
                            box-sizing: border-box;
                            border-radius: 0;
                            border: 0;
                            display: inline-block;
                            width: 50px;
                            height: 40px;
                            margin: 0;
                            font-size: 12px;
                            text-align: center;
                            color: #333;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}