.d-content {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 50px;
    .d-content-wrap {
        width: 1090px;
        margin: 0 auto;
        .d-content-wrap-left {
            float: left;
            .img-box {
                width: 428px;
                height: 428px;
                background: #f4f4f4;
                cursor: default;
                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                }
            }
            .img-list {
                overflow: hidden;
                margin-top: 14px;
                list-style: none;
                li {
                    box-sizing: border-box;
                    float: left;
                    margin-left: 0px;
                    width: 78px;
                    height: 78px;
                    overflow: hidden;
                    margin-left: 10px;
                    vertical-align: top;
                    border: 1px solid #e8e8e8;
                    &:hover {
                        border: 1px solid #b4a078;
                    }
                }
                .img-l-f {
                    margin-left: 0px!important;
                }
            }
            .yh {
                box-sizing: border-box;
                a {
                    margin-top: 14px;
                    display: inline-block;
                    width: auto;
                    padding: 0 10px;
                    font-size: 14px;
                    text-decoration: none;
                    color: #b4a078;
                    border: 1px solid #b4a078;
                    background: #f5f3ef;
                    border-radius: 2px;
                    height: 28px;
                    line-height: 26px;
                    text-align: center;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
        .d-content-wrap-right {
            float: right;
            .d-r-top {
                width: 620px;
                margin-bottom: 20px;
                overflow: hidden;
                .d-top-left {
                    float: left;
                    .name {
                        color: #333;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 20px;
                        margin-bottom: 7px;
                        position: relative;
                        display: block;
                    }
                    .jianjie {
                        display: block;
                        font-size: 14px;
                        line-height: 20px;
                        color: #999;
                    }
                }
                .d-top-right {
                    overflow: hidden;
                    float: right;
                    .good {
                        color: #e36844;
                        font-size: 20px;
                        font-weight: 700;
                        text-align: right;
                        display: block;
                    }
                    .good-name {
                        float: right;
                        a {
                            text-align: right;
                            color: #333;
                            font-size: 13px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .d-r-mid {
                width: 620px;
                background: #f5f3ef;
                border-top: 1px dotted #dedede;
                border-bottom: 1px dotted #dedede;
                padding: 0 0 13px;
                line-height: 24px;
                font-size: 13px;
                position: relative;
                box-sizing: border-box;
                .d-mid-title {
                    width: 55px;
                    font-size: 13px;
                    float: left;
                    color: #666;
                    margin-left: 10px;
                }
                .price-box {
                    line-height: 50px;
                    height: 50px;
                    .fh {
                        margin-left: 0;
                        line-height: 30px;
                        color: #d7282d;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .price {
                        margin-left: 2px;
                        line-height: 30px;
                        color: #d7282d;
                        font-size: 28px;
                        font-weight: 700;
                    }
                }
                .tj {
                    padding: 10px;
                    height: 56px;
                    width: 488px;
                    font-size: 13px;
                    line-height: 20px;
                    margin-top: 2px;
                    margin-bottom: 3px;
                    margin-left: 66px;
                    background-color: #f7efde;
                    //background-image: linear-gradient(-135edg, #e7efde 0, rgba(246, 237, 217.6)100%);
                    border-radius: 2px;
                    cursor: pointer;
                    .tj-top {
                        color: #151515;
                        .tj-img {
                            background: url(../img/tips.png) -4px -7376px no-repeat;
                            //background: 100% 100%;
                            margin-right: 5px;
                            vertical-align: -2px;
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                        }
                        .sq {
                            font-size: 16px;
                        }
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            color: #151515;
                        }
                    }
                    .tj-bot {
                        //margin-top: 6px;
                        color: #b4a078;
                    }
                }
                .gwf-box {
                    color: #333;
                    .gwf {
                        color: #C43C3B!important;
                        margin-right: 4px;
                        margin-left: 2px;
                        i {
                            display: inline-block;
                            background: url(../img/wh.png) no-repeat;
                            background-size: contain;
                            width: 14px;
                            height: 14px;
                            margin-left: 5px;
                        }
                    }
                }
                .lj {
                    position: relative;
                    .quan {
                        box-sizing: border-box;
                        font-size: 12px;
                        color: #DE2b33;
                        height: 20px;
                        line-height: 18px;
                        margin: 5px 3px 5px 0;
                        position: relative;
                        background: #fff;
                        cursor: pointer;
                        padding: 0 4px 0 8px;
                        display: inline-block;
                        border-radius: 2px;
                        border: 1px solid #de2b33;
                        border-right: none;
                    }
                    .l-s {
                        display: inline-block;
                        margin-left: 10px;
                        background: url(../img/lq.png) no-repeat 0 -135px;
                        display: inline-block;
                        height: 20px;
                        width: 6px;
                        position: absolute;
                        top: 5px;
                        left: 140px;
                    }
                    .lq {
                        box-sizing: border-box;
                        font-size: 12px;
                        color: #DE2b33;
                        height: 20px;
                        line-height: 18px;
                        margin: 5px 4px 5px 0;
                        position: relative;
                        background: #fff;
                        cursor: pointer;
                        padding: 0 4px 0 8px;
                        display: inline-block;
                        border-radius: 2px;
                        border: 1px solid #de2b33;
                        border-left: none;
                    }
                }
                .cx {
                    padding-bottom: 10px;
                    border-bottom: 1px dashed #d2d2d2;
                    .mje-t {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        color: #fff;
                        padding: 0 5px;
                        font-size: 12px;
                        background-color: #e36844;
                        margin-right: 8px;
                    }
                    .mje {
                        color: #333;
                    }
                }
                .fw {
                    margin-top: 10px;
                    a {
                        color: #666;
                        text-decoration: none;
                        margin-right: 20px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .fw-l {
                        margin-left: 65px;
                    }
                }
            }
            .d-r-bot {
                margin-top: 30px;
                .d-bot-color {
                    span {
                        width: 55px;
                        font-size: 13px;
                        float: left;
                        color: #666;
                        margin-left: 10px;
                        margin-top: 15px;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #ddd;
                        cursor: pointer;
                        margin: 0 10px 15px 0;
                    }
                }
                .d-bot-num {
                    margin-top: 10px;
                    margin-left: 10px;
                    float: left;
                    .d-mid-title {
                        line-height: 30px;
                        float: left;
                        font-size: 12px;
                        color: #666;
                        width: 54px;
                        white-space: normal;
                        box-sizing: border-box;
                    }
                    .set-num {
                        margin-bottom: 3px;
                        position: relative;
                        border: 1px solid #ddd;
                        overflow: hidden;
                        .les {
                            border-right: 1px solid #ddd;
                            position: relative;
                            float: left;
                            width: 36px;
                            height: 30px;
                            line-height: 28px;
                            background: #fff;
                            cursor: pointer;
                            .jian {
                                position: absolute;
                                width: 2px;
                                height: 2px;
                                overflow: hidden;
                                background: #999;
                                top: 15px;
                                left: 12px;
                                width: 10px;
                            }
                        }
                        input {
                            box-sizing: border-box;
                            border-radius: 0;
                            border: 0;
                            width: 60px;
                            margin: 0;
                            font-size: 12px;
                            text-align: center;
                            color: #333;
                            position: relative;
                            float: left;
                            width: 36px;
                            height: 30px;
                            line-height: 28px;
                            background: #fff;
                        }
                        .up {
                            border-left: 1px solid #ddd;
                            position: relative;
                            float: left;
                            width: 36px;
                            height: 30px;
                            line-height: 28px;
                            background: #fff;
                            .jia {
                                position: absolute;
                                width: 2px;
                                height: 2px;
                                overflow: hidden;
                                background: #999;
                                top: 15px;
                                left: 12px;
                                width: 10px;
                            }
                            .jia-01 {
                                top: 11px;
                                left: 16px;
                                height: 10px;
                                position: absolute;
                                width: 2px;
                                height: 10px;
                                overflow: hidden;
                                background: #999;
                            }
                        }
                    }
                }
                .d-bot-btn {
                    margin-left: 12px;
                    margin-top: 80px;
                    font-size: 0;
                    .ljg-01 {
                        display: inline-block;
                        text-decoration: none;
                        margin-right: 10px;
                        width: 168px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        color: #b4a078;
                        border: 1px solid #b4a078;
                        background-color: #f5f3ef;
                        border-radius: 2px;
                        text-align: center;
                        &:hover {
                            background: #fff;
                        }
                    }
                    .ljg-02 {
                        line-height: 50px;
                        font-size: 18px;
                    }
                    .jrg-01 {
                        display: inline-block;
                        text-decoration: none;
                        right: 219.5px;
                        width: 168px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        color: #fff;
                        border: 1px solid #b4a078;
                        background-color: #b4a078;
                        text-align: center;
                        // overflow: hidden;
                        border-radius: 2px;
                        &:hover {
                            color: #fff;
                            border: 1px solid #c0ae8a;
                            background-color: #c0ae8a;
                        }
                    }
                    .jrg-02 {
                        .jrg-img {
                            margin: 12px 8px 0 0;
                            background-position: 0 -68px;
                            height: 21px;
                            width: 21px;
                            background-image: url(../img/cz.png);
                            background-repeat: no-repeat;
                            display: inline-block;
                            overflow: hidden;
                            vertical-align: top;
                        }
                    }
                    .sc {
                        position: relative;
                        display: inline-block;
                        height: 49px;
                        width: 50px;
                        border: 1px solid #CCC;
                        // overflow: hidden;
                        vertical-align: middle;
                        text-align: center;
                        cursor: pointer;
                        margin-left: 15px;
                        margin-top: -18px;
                        i {
                            display: block;
                            background: url(../img/st.png) no-repeat 0 -696px;
                            margin-top: 6px;
                            height: 15px;
                            width: 16px;
                            font-size: 12px;
                            margin-left: 14px;
                            word-spacing: normal;
                            letter-spacing: normal;
                            text-align: center;
                        }
                        span {
                            display: inline-block;
                            height: 23px;
                            font-size: 13px;
                            line-height: 23px;
                            color: #999;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}